* {
    box-sizing: border-box;
}

body {}

nav {
    font-size: 250%;
    display: fixed;
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 3px 10px black;
}

nav content {
    display: flex;
    justify-content: center;
}

nav h2 {
    margin: 0px;
    padding: 25px;
    font-size: 150%;
}

#main {}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
}

#contentLower {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

#row1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#colorName {
    text-align: center;
    margin: 5px;
    font-size: 9vh;
}

#contentLower h2 {
    margin: 0px;
    font-size: 4vh;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 500%;
}


/* 
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 133px);
        font-size: 2.5em;
        ;
    }
#centerBox {
    justify-content: center;
    display: flex;
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 75vw;
}

#yourColor {
    padding-right: 20px;
}

#colorChange {
    display: flex;
    justify-content: center;
    border: 5px black solid;
    background-color: rgba(139, 0, 139, 0);
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    font-size: 2em;
    
    @media (min-width: 700px) {
    #centerBox {
        padding: 0px 25px;
        width: auto;
    }
    #main {
        font-size: 2em;
    }
}
} */

#colorChange:focus,
#colorChange:active {
    outline: none;
}