* {
    box-sizing: border-box;
     transition: all 0.2s ease;
}

body {}

nav {
    font-size: 250%;
    display: fixed;
    background-color: rgb(223, 223, 223);
    box-shadow: 0px 3px 10px black;
}

nav content {
    display: flex;
    justify-content: center;
}

nav h2 {
    margin: 0px;
    padding: 25px;
    font-size: 150%;
}

#main {
    height: 75vh;
    content: "";
}

#pozadina {
    height: 64vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pozadina p {
    margin: 0;
    font-size: 10vh;
    color: ivory;
    opacity: 0.2;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 24);
}

#colorName {
    text-align: center;
    margin: 10px;
    font-size: 7vh;
}

#contentLower {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#contentLower h2 {
    margin: 0px;
    font-size: 4vh;
}

#row1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#row2 {}

#row2,
#row2 h2,
#row2 #cube {
    display: block;
}

#cube {
    padding: 2vh;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 500%;
}


/* 
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 133px);
        font-size: 2.5em;
        ;
    }
#centerBox {
    justify-content: center;
    display: flex;
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 75vw;
}

#yourColor {
    padding-right: 20px;
}

#colorChange {
    display: flex;
    justify-content: center;
    border: 5px black solid;
    background-color: rgba(139, 0, 139, 0);
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    font-size: 2em;
    
    @media (min-width: 700px) {
    #centerBox {
        padding: 0px 25px;
        width: auto;
    }
    #main {
        font-size: 2em;
    }
}
} */

#colorChange:focus,
#colorChange:active {
    outline: none;
}
